<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Gamelex</title>

    <link href="#index.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    
    <ul class="menu">
        <br>
        <li><a href="/index">Home</a></li>
        <li><a href="/games">Video giochi</a></li>
        <li><a href="/aggiungi">Aggiungi video gioco</a> </li>
        <li><a href="https://discord.gg/V35p2mF5R5">Server Discord</a></li>
        <li><a href = "/user"><%= user %> </a></li>
        <li><a href = "/logout">Logout</a></li>
        <br>
        <br>
        <br>
        <br>
        <h1>Gamelex</h1>
        <br>
        <h2>La miglior lista di videogiochi italiani!</h2>
        <br>
        <br>
    </ul>

    <br>
    <br>
    <br>

    <div class = "Card-gioco">
    
        <%partiCardList.forEach(partiCard => {%>
          <% if (partiCard.approvato === false) { %>
           <%console.log("Bot non ancora approvato");%>

          <% } else if (partiCard.approvato === true) { %>
           
            <% if (partiCard.devoloper === user) { %>
              <div class = "Circle-Royale">
                <br>
                <img  class = "Card-img" src=<%= partiCard.logo %> >
                <h1 class = "Titolo-Card"><%= partiCard.title %> </h1>
                <h3 class="SottoTitolo-Card"><%= partiCard.desc %> </h3>
      
                <a class="gioca-vedi" href=<%= `/${partiCard.title}` %> >Vedi video gioco</a>
                <a class="gioca-vedi" href = <%= partiCard.link %> >Gioca</a>
                <br>
                <br>
              </div>
            <% } else if (partiCard.devoloper === user) { %>
             <% console.log ("Questo bot non appartiene al devoloper loggato") %> 
          <% } %>

          
      <% }) %>
    </div>

    <style>
      * {
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
    li{
      float: none;
      text-align: left;
    }

    a {
      text-align: left;
      margin-left: 0px;
    }
  }
body{
    background-color: lightblue;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px; 
    background-color: white;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  li a:hover:not(.active) {
    background-color: ghostwhite;
  }
  
  .active {
    background-color: #04AA6D;
  }

  h1{
    font-family: sans-serif;
    text-decoration: none;
    padding-left: 20px;
    font-weight: 400;
  }

  h2{
    font-family: sans-serif;
    text-decoration: none;
    padding-left: 20px;
    font-weight: 400;
  }

  h3{
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
  }

.Card-img{
  display: block;
  padding-left: auto;
  padding-right: auto;
}

.Circle-Royale{
  float: left;
  padding-left: 30px;
  margin: 30px;
  height: auto;
  width: 300px;
  border-radius: 10px 10px 10px 10px; 
  background-color: white;
}


.Circle-Royale2{
  float: left;
  padding-left: 30px;
  margin: 30px;
  height: auto;
  width: 300px;
  border-radius: 10px 10px 10px 10px; 
  background-color: white;
  
}

.Card-img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.Titolo-Card{
  padding-left: 0px;
}
.SottoTitolo-Card{
  text-align: justify;
  text-justify: inter-word;
  padding-right: 20px;
}

.gioca-vedi{ 
  border-radius: 10px 10px 10px 10px; 
      background-color:#0d6efd;
      border-color:#0d6efd;

      display: inline-block;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      background-color: cornflowerblue;
      border: 1px solid cornflowerblue;
      padding: .375rem .75rem;
      font-size: 1rem;
      border-radius: .25rem;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

    </style>

  </body>
</html>